@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}



html, body {
    min-height: 100vh;
    background-color: darkgray;
    line-height: 1.8em;
    margin: 0px 0px;
    }

header {
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
    
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    color: rgb(27, 13, 233);
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
    
}

section.imagem {
    background-color: black;
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

#segundo {
    padding-top: 20px ;
    padding-bottom: 40px;
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}

div.segundo { 
    color: white;
    background-color: rgba(0, 0, 0, 0.226);
    width: 180px;
    padding: 10px 0px 10px 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#quarto {
    padding-top: 20px ;
    padding-bottom: 40px;
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

div.quarto {
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
    width: 180px;
    padding: 10px 0px 10px 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}



